@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Handlee);

.paper {
    position: relative;
    width: 95%;
    max-width: 95%;
    min-width: 400px;
    height: 692px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.paper-content {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 0;
    background: linear-gradient(transparent,transparent 25px,hsla(0,1%,65%,.46) 0);
    background-size: 26px 26px;
}

.paper-content textarea {
     width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 26px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: transparent;
    color: #666;
    font-size: 14px;
    box-sizing: border-box;
    z-index: 1;
    resize: none;
    font-weight: 100;
    letter-spacing: 1px;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,.6);
}
footer a {
    color: rgba(255,255,255,.8);
}