.overlay {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  background: rgba(39, 42, 43, 0.8);
  transition: opacity 200ms ease-in-out;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Handlee);

.modal-dialog {
    margin: 20% auto!important;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

#password {
    width: 100%;
    height: 50px;
    font-size: 40px;
    background: transparent;
    border: none;
    border-bottom: 4px solid #fff;
    color: #fff;
    outline:none!important;
    text-align: center;
    padding-bottom: 10px;
}

#password:focus {
    box-shadow: 0 4px 2px -2px #a7a5a5;
    /*box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 8px #a7a5a5!important;*/
}

#save {
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 40px;
}

.close-btn {
    color: white;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: bold;
    font-size: 27px;
    position: absolute;
    top: 30px;
    right: 43px;
    cursor: pointer;
}