<header>
    <div id="logo">
        <a href="#" id="logo_img"><img alt="Logo" src="../assets/shnore_logo.png"/></a>
        <a href="#" id="logo_text">hnore</a></div>
    <div id="nav">
        <a href="#">Help</a>
        <span class="separator">|</span>
        <a href="javascript:void(0)" (click)="modal.show()">Set Password</a>
    </div>
</header>
<router-outlet></router-outlet>
<app-modal #modal>
    <div class="app-modal-header">
      header
    </div>
    <div class="app-modal-body">
      Whatever content you like, form fields, anything
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </app-modal>