header {
    margin-bottom: 25px;
    width: 100%;
    height: 40px;
    display: inline-flex;
    background-color:#fff;
    color:white;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

#logo {
    margin: auto 37px;
    display:inline-flex;
}

#nav {
    margin: auto 37px;
    float: right;
    width: 100%;
}

#lock {
    width: 30px;
    height: 30px;
}

#lock path {
    fill: #a7a5a5;
}

#nav a, #nav span {
    float:right;
}

.separator {
    margin-right: 10px;
    margin-left: 10px;
}

a {
    color: #a7a5a5;
    font-style: normal;
    text-decoration: none;
}

#logo_text {
    margin-top: 35px;
    margin-left: 2px;
    font-size: 25px;
    font-family: Verdana;
}

header #lock {
    margin-top: 35px;
}

.beta {
    margin-top: 50px;
    color: #e8d7c0;
}